{% extends "base.html" %}

{% block main %}
    <h2>
        Document: {{ document }}
        {% if document.user %}
            (by user:
            <a href="{% url 'documents:list' %}?owner__username={{ document.user.username }}">{{ document.user }}</a>)
        {% endif %}
    </h2>

    <h3>
        [<a href="#TODO">Copy</a>]
        {% if writable %}
            [<a href="#TODO">Edit</a>]
            [<a href="#TODO">Delete</a>]
        {% endif %}
    </h3>

    <h3>Contents</h3>
    <pre>{{ document.content }}</pre>

    <h3>Run with Abipitty</h3>
    <form method="post" action="">
        {% csrf_token %}
        <p>
            <label>
                Command-line arguments to Abipitty interpreter:
                <br>
                <input type="text" name="args" value="{{ args }}">
                <br>
                <a href="{% url "documents:args_help" %}">Full list of possible arguments</a>
            </label>
        </p>
        <button type="submit" name="run">RUN</button>
    </form>

    {% if output %}
    <h3>Output</h3>
    <pre>{{ output }}</pre>
    {% endif %}
{% endblock %}
