{% extends "base.html" %}

{% block main %}
    <h2>What is this</h2>
    <p><b>Sapiness</b> is a <b>SAP</b> emulator built using Django.</p>
    <p><b>Abippity</b> is an <b>ABAP</b> interpreter written in Python.</p>
    <p>
        <b>SAP</b> (Systems Applications and Products in Data Processing)
        is an ERP.
    </p>
    <p>
        <b>ABAP</b> (Advanced Business Application Programming) is <b>SAP</b>'s
        built-in proprietary programming language.
    </p>

    <h2>What do I do with it</h2>
    <p>
        Go look at the
        <a href="{% url 'documents:list' %}?owner__username=tutor">example programs</a>
        and run them.
    </p>
    <p>
        Go look at
        <a href="{% url 'documents:list' %}">other users' public programs</a>
        and run them.
    </p>
    <p>
        Try making a copy of a program and making changes to it.
        (There's a [Copy] link at the top of every document.)
    </p>
    <p>
        <a href="{% url 'documents:create' %}">Create</a> your own program,
        find an ABAP tutorial,
        and see how many of its code examples you can copy-paste
        into this thing and successfully run.
    </p>
    <p>
        <a href="{% url 'login' %}">Sign in</a> or
        <a href="{% url 'register' %}">sign up</a> for a user account,
        so you can make your documents (programs) private.
        (Anonymous users' documents can be changed by anybody.)
    </p>
{% endblock %}
